!!!
%html
  %head
    %title Marktplace
    = stylesheet_link_tag 'application', :media => 'all'
    = stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'
    = javascript_pack_tag 'application'
    = csrf_meta_tags
    = csp_meta_tag

    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
  %body{:yield => 'body_class'}
    -if flash[:notice]
      .notification.is-success.global-notification
        %p.notice= notice
    -if flash[:alert]
      .notification.is-danger.global-notification
        %p.alert= alert
    %nav.navbar.is-warning{:role => 'navigation', :aria-label => 'main navigation'}
      .navbar-brand
        .navbar-item
          %h1= link_to 'WL-Store', root_path, class: 'title is-5'
        %a.navbar-burger.burger{:data-target => 'navbar', :role => 'button', :arial-label => 'menu', :arial-expanded => 'false'}
          %span{:arial-hidden => 'true'}
          %span{:arial-hidden => 'true'}
          %span{:arial-hidden => 'true'}
      .navbar-menu
        .navbar-end
          .navbar-item
            .field.is-grouped
              -if total_cart_item
                = link_to cart_path(@cart), class:'navbar-item button is-warning' do
                  %span.icon.is-small
                    %i.fa.fa-shopping-cart
                  %span
                    Cart
                    = cart_count_over_one

              -if user_signed_in?
                = link_to 'Sell', new_instrument_path, class:'navbar-item button is-dark'

                .navbar-item.has-dropdown.is-hoverable
                  = link_to 'Account', '#', class:'navbar-item'
                  .navbar-dropdown.is-right
                    = link_to current_user.name, edit_user_registration_path, class:'navbar-item'
                    = link_to 'Log Out', destroy_user_session_path, method: :delete, class:'navbar-item'
              - else
                = link_to 'Sign In', new_user_session_path, class:'navbar-item button is-warning'
                = link_to 'Sign Up', new_user_registration_path, class:'navbar-item button is-warning'
  = yield(:header)
  .container
    = yield
